/* styles.css */
body {
    display: flex;
    background-image: url('bg1.jpg');

    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
 
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #b9c6bc; /* Fallback color if the image doesn't load */
}


.calculator {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    background: #333;
}

.display {
    background: #000;
    color: #e3d9d9;
    font-size: 2rem;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px; /* Add some gap between buttons */
}

.btn {
    border: 1px solid #0f0505;
    background: #191717;
    color: #f1dfdfdc;
    font-size: 1.5rem;
    padding: 20px;
    box-sizing: border-box;
    transition: background 0.3s;
}

.btn:hover {
    background: #beb2b2;
}

.btn:active {
    background: #d7c9c9;
}

.zero {
    grid-column: span 2;
}

.delete {
    grid-column: span 2; /* Span 2 columns */
    font-size: 1.2rem;
}

